#userInfo{
    margin:90px 150px;
    padding: 50px 80px;
    background-color: rgb(236, 236, 236);
    border-radius: 50px;
}

h3{
    font-size: 18px;
}

#emailAddress{
    background-color: white;
    padding:10px 15px;
    border-radius: 10px;
    position:absolute;
    left:65px;
    font-size: 17.5px
}

.emailAddressInfo{
    position: relative;
}   

.thing{
    position: absolute;
    top:11px;
}

.empty{
    height:60px;
}

#dietInfo{
    font-size: 23px;
    margin:15px 0px 20px 0px;
}

#emptyStyle{
    height: 10px;
}
.userInput{
    background-color: white;
    padding: 11px 17px 2px 15px;
    border-radius: 10px;
    position:absolute;
    left: 182px;
    font-size: 16.5px;
}

.mb-3{
    position:absolute;
    top:300px;
}

.profileButton{
    background-color: rgb(255, 138, 43);
    color: white;
    border-radius: 7px;
    border:none;
    padding:6px 15px;
}

input{
    border:none;
}

